/* Header Styling */
.body--dxpr-theme-nav-desktop #navbar.dxpr-theme-header--top {
  background-color: rgba(var(--dxpr-color-header-rgb), var(--dxpr-setting-header-top-bg-opacity));
}
.body--dxpr-theme-nav-desktop #navbar.dxpr-theme-header--top.affix {
  background-color: rgba(var(--dxpr-color-header-rgb), var(--dxpr-setting-header-top-bg-opacity-scroll));
}

.body--dxpr-theme-nav-desktop.body--dxpr-theme-header-fixed.body--dxpr-theme-header-not-overlay {
  padding-top: var(--dxpr-setting-header-top-height) !important;
}

html.js .body--dxpr-theme-nav-desktop.toolbar-fixed.toolbar-horizontal.body--dxpr-theme-header-fixed.body--dxpr-theme-header-not-overlay {
  padding-top: calc(var(--dxpr-setting-header-top-height) + 39px) !important;
}

html.js .body--dxpr-theme-nav-desktop.toolbar-fixed.toolbar-horizontal.toolbar-tray-open.toolbar-horizontal.body--dxpr-theme-header-fixed.body--dxpr-theme-header-not-overlay {
  padding-top: calc(var(--dxpr-setting-header-top-height) + 80px) !important;
}

.html--dxpr-theme-sticky-footer .body--dxpr-theme-nav-desktop .dxpr-theme-header--top {
  min-height: var(--dxpr-setting-header-top-height);
}

.html--dxpr-theme-sticky-footer .body--dxpr-theme-nav-desktop .dxpr-theme-header--top.affix {
  min-height: var(--dxpr-setting-header-top-height-scroll);
}

.html--dxpr-theme-sticky-footer .body--dxpr-theme-nav-mobile .dxpr-theme-header {
  min-height: var(--dxpr-setting-header-mobile-height);
}

.html--dxpr-theme-sticky-footer .body--dxpr-theme-nav-mobile .dxpr-theme-header.affix {
  min-height: var(--dxpr-setting-header-mobile-height);
}

/* Menu Options */
.dxpr-theme-header .menu a {
  text-transform: uppercase;
}

/* Typography Styles */
.dxpr-theme-header--top #dxpr-theme-main-menu .nav > li > a,
.dxpr-theme-header--top #dxpr-theme-main-menu .nav > li > span,
.dxpr-theme-header--side #dxpr-theme-main-menu .nav a,
.dxpr-theme-header--side #dxpr-theme-main-menu .nav span,
.body--dxpr-theme-nav-desktop .dxpr-theme-header--top .nav .dropdown-menu li > a,
.body--dxpr-theme-nav-desktop .dxpr-theme-header--top .nav .dropdown-menu li > span {
  font-size: var(--dxpr-setting-nav-font-size);
}

@media screen and (max-width: 768px) {
  .dxpr-theme-header--top #dxpr-theme-main-menu .nav > li > a,
  .dxpr-theme-header--top #dxpr-theme-main-menu .nav > li > span,
  .dxpr-theme-header--side #dxpr-theme-main-menu .nav a,
  .dxpr-theme-header--side #dxpr-theme-main-menu .nav span,
  .body--dxpr-theme-nav-desktop .dxpr-theme-header--top .nav .dropdown-menu li > a,
  .body--dxpr-theme-nav-desktop .dxpr-theme-header--top .nav .dropdown-menu li > span {
    font-size: var(--dxpr-setting-nav-mobile-font-size);
  }
}

/* body font face */
body, .tooltip {
  font-family: var(--dxpr-setting-body-font-face);
  font-style: normal;
  font-weight: 400;
}

/* nav font face */
nav,nav ul li,nav a {
  font-family: var(--dxpr-setting-nav-font-face);
  font-style: normal;
  font-weight: 400;
}

/* headings font face */
h1,h2,h3,h4,h5,h6,label,.field--label,.page-title, .html .tp-caption {
  font-family: var(--dxpr-setting-headings-font-face);
  font-style: normal;
  font-weight: 300;
}

/* sitename font face */
.site-name, .navbar-brand {
  font-family: var(--dxpr-setting-sitename-font-face);
  font-style: normal;
  font-weight: 300;
}

/* blockquote font face */
blockquote, blockquote p {
  font-family: var(--dxpr-setting-blockquote-font-face);
  font-style: italic;
  font-weight: 300;
}

/* Layout Styles */
.dxpr-theme-boxed-container { background: var(--dxpr-setting-boxed-layout-boxbg); }
.dxpr-theme-boxed-container .nav-tabs >li.active a { border-bottom-color: var(--dxpr-setting-boxed-layout-boxbg); }
.dxpr-theme-boxed-container .tabs-left > .nav-tabs .active > a { border-right-color: var(--dxpr-setting-boxed-layout-boxbg); }
.dxpr-theme-boxed-container .tabs-right > .nav-tabs .active > a { border-left-color: var(--dxpr-setting-boxed-layout-boxbg); }

body {
  background-position: var(--dxpr-setting-background-image-position);
  background-attachment: var(--dxpr-setting-background-image-attachment);
}

:root.dxpr-scheme-custom {
  --dxpr-color-base: #284ed9;
  --dxpr-color-link: #284ed9;
  --dxpr-color-accent1: #05e993;
  --dxpr-color-accent2: #284fd8;
  --dxpr-color-text: #555555;
  --dxpr-color-headings: #333333;
  --dxpr-color-footer: #21252a;
  --dxpr-color-footertext: #747a85;
  --dxpr-color-secheader: #284fd9;
  --dxpr-color-secheadertext: #fffffe;
  --dxpr-color-card: #eeeeee;
  --dxpr-color-cardtext: #444444;
  --dxpr-color-header: #ffffff;
  --dxpr-color-headertext: #696969;
  --dxpr-color-headerside: #20252a;
  --dxpr-color-headersidetext: #737a85;
  --dxpr-color-pagetitle: #284fdb;
  --dxpr-color-pagetitletext: #fffeff;
  --dxpr-color-graylight: #cccccc;
  --dxpr-color-graylighter: #ededed;
  --dxpr-color-silver: #f1f1f1;
  --dxpr-color-body: #efefef;
  --dxpr-color-header-rgb: 255,255,255;
}

/* Theme Settings */
:root {
  --dxpr-setting-background-image-attachment: fixed;
  --dxpr-setting-background-image-position: center center;
  --dxpr-setting-block-divider-length: 10px;
  --dxpr-setting-block-divider-spacing: 20px;
  --dxpr-setting-block-divider-thickness: 4px;
  --dxpr-setting-blockquote-font-face: "Source Sans Pro Light Italic", "Source Sans Pro";
  --dxpr-setting-blockquote-font-size: 21px;
  --dxpr-setting-blockquote-line-height: 1.5;
  --dxpr-setting-blockquote-mobile-font-size: 18px;
  --dxpr-setting-body-font-face: "Source Sans Pro", "Source Sans Pro";
  --dxpr-setting-body-font-size: 16px;
  --dxpr-setting-body-line-height: 1.6;
  --dxpr-setting-body-mobile-font-size: 14px;
  --dxpr-setting-box-max-width: 1580px;
  --dxpr-setting-boxed-layout-boxbg: #ffffff;
  --dxpr-setting-divider-length: 100;
  --dxpr-setting-divider-position: 0;
  --dxpr-setting-divider-position-block: 0;
  --dxpr-setting-divider-thickness: 4px;
  --dxpr-setting-gutter-container: 60px;
  --dxpr-setting-gutter-container-mobile: 30px;
  --dxpr-setting-gutter-horizontal: 30px;
  --dxpr-setting-gutter-horizontal-mobile: 30px;
  --dxpr-setting-gutter-vertical: 30px;
  --dxpr-setting-gutter-vertical-mobile: 30px;
  --dxpr-setting-h1-font-size: 52px;
  --dxpr-setting-h1-mobile-font-size: 52px;
  --dxpr-setting-h2-font-size: 38px;
  --dxpr-setting-h2-mobile-font-size: 38px;
  --dxpr-setting-h3-font-size: 29px;
  --dxpr-setting-h3-mobile-font-size: 29px;
  --dxpr-setting-h4-font-size: 21px;
  --dxpr-setting-h4-mobile-font-size: 24px;
  --dxpr-setting-header-mobile-breakpoint: 1200px;
  --dxpr-setting-header-mobile-height: 60px;
  --dxpr-setting-header-side-align: left;
  --dxpr-setting-header-side-direction: left;
  --dxpr-setting-header-side-width: 300px;
  --dxpr-setting-header-top-bg-opacity: 1;
  --dxpr-setting-header-top-bg-opacity-scroll: 1;
  --dxpr-setting-header-top-height: 100px;
  --dxpr-setting-header-top-height-scroll: 50px;
  --dxpr-setting-header-top-height-sticky-offset: 60px;
  --dxpr-setting-headings-bold: normal;
  --dxpr-setting-headings-font-face: "Source Sans Pro Light", "Source Sans Pro";
  --dxpr-setting-headings-line-height: 1.1;
  --dxpr-setting-headings-uppercase: none;
  --dxpr-setting-layout-max-width: 1280px;
  --dxpr-setting-menu-border-size: 2px;
  --dxpr-setting-nav-font-face: "Source Sans Pro", "Source Sans Pro";
  --dxpr-setting-nav-font-size: 16px;
  --dxpr-setting-nav-mobile-font-size: 14px;
  --dxpr-setting-page-title-align: left;
  --dxpr-setting-page-title-height: 120px;
  --dxpr-setting-page-title-image-opacity: 1;
  --dxpr-setting-page-title-image-position: center center;
  --dxpr-setting-page-title-image-style: cover;
  --dxpr-setting-scale-factor: 1.34;
  --dxpr-setting-sitename-font-face: "Source Sans Pro Light", "Source Sans Pro";
  --dxpr-setting-title-align: left;
  --dxpr-setting-title-font-size: var(--dxpr-setting-h3-font-size);
  --dxpr-setting-title-font-size-mobile: var(--dxpr-setting-h3-mobile-font-size);
  --dxpr-setting-title-sticker: block;
}

/* Page Title Styles */
.page-title-full-width-container:after {
  opacity: var(--dxpr-setting-page-title-image-opacity);
  background-position: var(--dxpr-setting-page-title-image-position);
}

